/* DATEI: selfnosize.css */

/* Diese Datei sollten Sie als selfhtml.css verwenden, wenn die */
/* Schriftgroessen von SELFHTML fuer Sie schwer lesbar sind */




h1,h2,h3,h4,p,ul,ol,li,div,td,th,address,blockquote,nobr,b,i {
 font-family:Arial,sans-serif; }

h1 { margin-bottom:18px; }

h2 { margin-bottom:18px; }

li { margin-top:3px; }

pre { font-family:Courier New,Courier; color:#0000C0; }

code,kbd,tt { font-family:Courier New,Courier; color:#0000C0; }

var { font-style:normal; color:#0000C0; }

blockquote,cite { font-style:italic; }

.xmpcode { border-width:10px; border-style:solid; border-color:#EEEEEE; background-color:#FFFFE0; }

.code { background-color:#FFFFE0; }

.tabxpl { background-color:#E4EEFF; }

.doc { background-color:#EEEEEE; }

.nav { background-color:#FFEEDD; }

.qbar { background-color:#FFFFE0; font-family:Arial,sans-serif; }

.blue { color:#0000C0; }

pre.normal { color:#000000; }

a:link { color:#AA5522; text-decoration:underline; }

a:visited { color:#772200; text-decoration:underline; }

a:active { color:#000000; text-decoration:none; }

a.an { text-decoration:none; }

.unicode { font-size:120%; font-family:Arial Unicode MS,Arial,sans-serif }

ins { color:#009900; font-weight:bold; text-decoration:none; }

del { color:#990000; font-weight:bold; text-decoration:line-through; }

